body {
  min-height: 2000px;
}

/* SideBar Icon Leiste */
.sideBarTop {
	padding-top: 8px;
	padding-bottom: 5px;
}

.control-label { color:#000000; font-family:Arial,Helvetica,Geneva; font-size:12pt; }

.imagelogo {
  display: inline;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 1px solid #CCC;
  padding: 6px;
}

.postfrontpage {
  background-color: #fff;  
  border-bottom: 2px solid #CCC;  
  border-radius: 5px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right:  20px;
  padding-left: 20px;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.sidebarpanel {
  background-color: #fff;  
  border-bottom: 2px solid #CCC;  
  border-radius: 5px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right:  10px;
  padding-left: 10px;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.postpost {
  background-color: #fff;  
  border-bottom: 2px solid #F9F9F9;
  border-radius: 5px;
  position: relative;  
  word-wrap: break-word;
  margin-bottom: 20px;
  width: auto;
  padding: 20px;
}

.maincontainer {
  background-color: #f9f9f9;  
  border-bottom: 2px solid #f9f9f9;
  border-radius: 5px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right:  20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.postfrontpage_heading {
  font-size: 30px;
}

.captcha 
{ 
  width: 20%; 
  display: inline; 
}

.form-control 
{
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
}

.textend 
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.zwtext{
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-file {
  border-width: 0px;
  background-color: transparent;
}

img {
	max-width: 100%; 
	display:block; 
	height: auto;
}

.postdiv {
  padding-bottom: 40px;
}