---
layout: default
title: AndyDunkel.net
---

<section>
<h1>Willkommen</h1>

... auf meiner Homepage. Ich schreibe hier über Dinge die mich interessieren. Sprachlich im Mix von Deutsch und English, je nach Themengebiet.

<hr>


<div class="row">
    <div class="col-md-9">
      <h2>Blog Posts</h2>

     
		{% for post in paginator.posts %}
    <div class="postfrontpage">
		<h1 class="postfrontpage_heading">
		  <a href="{{ post.url }}">{{ post.title }}</a>
		</h1>
		  <p class="small">Posted on {{ post.date | date_to_long_string }} by Andy</p>
		  {{ post.excerpt }}	
      <p><a class="btn btn-success" href="{{ post.url }}">Weiterlesen / Read more</a></p>
      <br/>
		  <p class="small">Tagged: {{ post.tags | array_to_sentence_string }} by Andy</p>
		</div>  
		{% endfor %}

    </div>
    <div class="col-md-3">    
        {% include sidebar.html %}
   </div>
</div>

<h2>Blog Posts</h2>


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
