    	<div class="sidebarpanel">
    	<h4>Partnerlink</h4>
    	<a target="_blank" href="https://www.amazon.de/?_encoding=UTF8&camp=1638&creative=19454&linkCode=ur2&site-redirect=de&tag=ekiwide0b-21">Einkaufen bei Amazon.de</a><img src="https://www.assoc-amazon.de/e/ir?t=ekiwide0b-21&l=ur2&o=3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />	
    	</div>
    	
    	<div class="sidebarpanel">
    	<h4>Werbung</h4>
    	
    	<div align="left">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-1137550895446814";
		/* andy.ekiwi.de */
		google_ad_slot = "3362068620";
		google_ad_width = 125;
		google_ad_height = 125;
		//-->
		</script>
		<script type="text/javascript"
		src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</div>
		</div>
		
		<div class="sidebarpanel">
		<h4>Links</h4>
    	<ul class="list-unstyled">
    		<li><a href="https://andydunkel.net/da.asc.zip">Andys PGP-Key</a></li>
    		<li><a href="https://github.com/andydunkel">Me on GitHub</a></li> 	
    		<li><a href="https://stackoverflow.com/users/285039/da">Me on StackOverflow</a></li>    			
    	</ul>
    	</div>
    	
    	<div class="sidebarpanel">
    	<h4>Webseiten</h4>
    	<ul class="list-unstyled">
    		<li><a href="https://www.ekiwi.de">eKiwi.de</a></li>
    		<li><a href="https://ekiwi-blog.de">eKiwi.de Blog</a></li>
    		<li><a href="https://www.da-software.de">DA-Software.de</a></li>    		
    	</ul>
    	</div>

    	<div class="sidebarpanel">
    	<h4>Categories</h4>    	
		<section>
		<ul id="categories" class="list-unstyled">

{% assign tags_list = site.categories | sort {|left, right| left[0] <=> right[0]} %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li class="category"><a href="/categories/{{ category | downcase }}">{{ tag | capitalize }} <span>({{ site.tags[tag].size }})</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li class="category"><a href="/categories/{{ tag[0] | downcase }}">{{ tag[0] | capitalize }} <span>({{ tag[1].size }})</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}


		</ul>
		</section>
		</div>